<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>

    <title>Document</title>
</head>
<body>
    <h1 id="amt">{{order.amount}}</h1>
        <h2 id="Oid">{{order.id}}</h2>
    <button id="rzp-button1">Pay</button>
    
    <script>
    var amt = document.getElementById('amt').innerHTML;
     var id = document.getElementById('Oid').innerHTML;
     var options = {
    "key": "rzp_test_Qur3KUufP6038b", // Enter the Key ID generated from the Dashboard
    "amount": amt, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "ZionIT",
    "description": "Test Transaction",
    "image": "https://media-exp1.licdn.com/dms/image/C5603AQFAJWGquGFbjA/profile-displayphoto-shrink_200_200/0/1632547582083?e=1652918400&v=beta&t=E00HUjClOFkD0BeJAAMAjb9lnQKOr0YLPeLCSTo80k4",
    "order_id":id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        varifypay(response,amt,id)
        
    },
    "prefill": {
        "name": "Anaz k sunil",
        "email": "anazksunil2@gmail.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "black"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
function varifypay(response,amnt,id){
    $.post("/varify",
        data = {
           response,
           amt,
           id
         },
         function (data, status) {
            console.log(data);
         });

}
</script>

</body>
</html>

